<h1>Transfert</h1>

<h3>Liste des clubs ayant les moyens d'acheter le joueur : </h3>

<br/>
<form name="transferForm" ng-submit="submitForm()" novalidate>

    <label for="clubSelect"> Choix du club : </label><br>
    <select name="clubSelect" ng-model="data.model" class="form-control" required>
            <option ng-repeat="club in data.availableClubs" value="{{club.id}}">{{club.name}}</option>
        </select>
    <br/>
    <span class="error" ng-show="validationFailed">Required!</span><br/><br/>
    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

</form>
<!-- <tt>model = {{data.model}}</tt><br/> -->