<h1>Liste des joueurs : </h1>
<!-- {{playerList}}
<br/>
{{clubDisplay}} -->
<table>
    <thead>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Age</th>
        <th>Club</th>
        <th>Prix transfert</th>
        <th>Transfert du joueur</th>
    </thead>
    <tr ng-repeat="player in playerList">
        <td>{{ player.name }}</td>
        <td>{{ player.firstname }}</td>
        <td>{{ player.age }}</td>
        <td>{{ clubDisplay[$index].name }}</td>
        <td>{{ player.price | currency : "€" }}</td>
        <td ng-if="player.transfer"><a ng-href="#!/transferPlayer/{{player.id}}">Transférer</a></td>
    </tr>
</table>